<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../layout/head.ejs') %>
		<style>
		</style>
	</head>
	<body>
    <div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">

      <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400" style="background-color: rgba(0, 0, 0, 0.5);">
        <!-- TEXT -->
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
          <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">Server N <span class="uk-text-danger" uk-icon="icon: ban; ratio: 1.3"></span> t Response<hr style="background-color: #c11030;"></h1>
        </div>
        <!-- /TEXT -->
      </div>
    </div>
		<!-- OFFCANVAS -->
		<!-- /OFFCANVAS -->
		
		<!-- JS FILES -->
		<%- include('../layout/script.ejs') %>
	</body>
</html>
